header {
  color: white;
  background-color: #a1b0ab; 
  text-align: center;
  border-radius: 5px 5px 0 0;
}

header h5 {
  font-weight: normal;
  font-family: "Varela Round", sans-serif;
}

body {
  width: 90vw;
  margin: auto;
  font-family: "Roboto", sans-serif;
  background-color: #d5ecd4; 
  color: black;
  font-size: 14pt;
}

h1,
h5 {
  margin: 0;
  font-family: "Red Hat Display", monospace;
}

p {
  margin-top: 5px;
  margin-bottom: 0;
}


}


.about_me {
  margin: 20px 0;
  width: 50vw;
  padding-left: 30px;
  padding-top: 20px;
  border-radius: 20px;
  color #a1b0ab;
  background-color: #f6fff8;
  font-size: 14pt;
}
.my_businesses {
  margin: auto;

  box-sizing: border-box;
border-style: dotted;
border-color: black;
  width: 70vw;
  padding: 10px;
  border-radius: 50px;
  color #a1b0ab;
  background-color: #f6fff8;
}

.imgContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: solid 5px #25274d;
  border-radius: 20px;
  margin-left: 10px;
}

img {
  object-fit: cover;
}


footer {
  color: white;
  background-color: #a1b0ab; 
  text-align: center;
  border-radius: 5px 5px 0 0;
}

footer h5 {
  font-weight: normal;
  font-family: "Varela Round", sans-serif;
}
